<app-auth-header></app-auth-header>
<div class="content">
  <div class="form">
    <div class="form-content">
      <p>{{buttonLabels.REGISTRATION}}</p>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label>First name</label>
          <input class="form-control" name="firstName" formControlName="firstName" placeholder="first name" />
        </div>

        <div class="form-group">
          <label>Last name</label>
          <input class="form-control" name="lastName" formControlName="lastName" placeholder="last name" />
        </div>


        <div class="form-group">
          <label>Login</label>
          <input class="form-control" name="login" formControlName="login" placeholder="login" />
        </div>

        <div class="form-group">
          <label>Password</label>
          <input class="form-control" type="password" name="password" formControlName="password"
            placeholder="password" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn" [disabled]="!form.valid">{{buttonLabels.REGISTRATION}}</button>
        </div>

      </form>
    </div>
  </div>
  <div class="banner">
    <img src="../../../../assets/images/auth-bannert-registration.png" alt="Banner">
  </div>
</div>
