<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label>First name</label>
    <input class="form-control" name="firstName" formControlName="firstName" />
  </div>

  <div class="form-group">
    <label>Second name</label>
    <input class="form-control" name="secondName" formControlName="secondName" />
  </div>

  <div class="form-group">
    <label>Email</label>
    <input class="form-control" name="email" formControlName="email" />
  </div>

  <div class="form-group">
    <label>Login</label>
    <input class="form-control" name="login" formControlName="login" />
  </div>

  <div class="form-group">
    <label>Password</label>
    <input class="form-control" type="password" name="password" formControlName="password" />
  </div>

  <div class="form-group">
    <button type="submit" style="width: 100px; border: 1px solid #ccc"
      [disabled]="!form.valid">{{buttonLabels.REGISTRATION}}</button>
  </div>

</form>
<a class="auth-container-form-inputs-switch__element" routerLink="../login">login</a>
