<div class="about-hotel" *ngIf="hotel">
  <img [src]="hotel.image">
  <div class="about-hotel-container">
    <h1>{{hotel.name}}</h1>
    <p class="place">{{hotel.country}},{{hotel.city}},{{hotel.street}},{{hotel.house}}</p>
    <p class="description">{{hotel.description}}</p>
  </div>
</div>

<div class="hotel-room">
  <div class="room-content">
    <div class="hotel-room-content">
      <p class="width-colomn">Photo</p>
      <p class="width-colomn">Type</p>
      <p class="width-colomn">Sleeps</p>
      <p class="width-colomn">Price</p>
      <p class="width-colomn">Reserve</p>
    </div>
    <div class="hotel-room-content" *ngFor="let room of rooms">
      <img class="width-colomn" [src]="room.image">
      <p class="width-colomn">{{room.type}}</p>
      <p class="width-colomn">{{room.sleeps}} people</p>
      <p class="width-colomn">{{room.price | currency: 'USD' }}</p>
      <app-button-success class="width-colomn" [label]="label"></app-button-success>
    </div>
  </div>
</div>
