.about-hotel {
  width: 80%;
  border: 1px solid #505050;
  margin: 20px auto;
  display: flex;
  &-container {
    padding: 25px 30px;
  }
}
.about-hotel > img {
  width: 40%;
}
.hotel-room {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  border: 1px solid #505050;
  margin: 20px auto;

  &-content {
    display: flex;
    padding-top: 30px;
  }
}

.width-colomn {
  width: 14%;
  padding: 0 3%;
}

.room-content {
  margin-bottom: 30px;
}
.description {
  font-weight: 500;
}
.place {
  font-size: 14px;
  margin: 8px 0 20px;
}
